#menu-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#player-count-setting {
    width: 100%;
    height: 25%;
    background-color: var(--main-color);
}
#player-count-setting > h1 {
    width: 100%;
    height: 10%;
    text-align: center;
    color: var(--second-color);
} 
#player-count {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5vh;
    color: var(--second-color);
}

#categories-setting {
    width: 100%;
    height: 65%;
    background-color: var(--main-color);
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
}
.category-card {
    width: 50%;
    height: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    border: 0px;
}
.category-card > img {
    aspect-ratio: 1;
    width: 90%;
    padding: 5px;
    background-color: var(--second-color);
    border-radius: 15px;
}
.not-selected {
    filter: invert();
}
.category-card > p {
    color: var(--second-color);
    width: 100%;
    margin: 0px;
    margin-top: 2px;
    font-size: 1rem;
}

#start-setting{
    width: 100%;
    height: 10%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-setting > button {
    width: 75%;
    height: 50%;
}