html, body {
    background-color: #0f1116;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --main-color: #000000;
    --second-color: #ffffff;
}

#main {
    width: 100%;
    height: 100%;
}

#main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#player-count-setting {
    width: 100%;
    height: 25%;
    background-color: var(--main-color);
}
#player-count-setting > h1 {
    width: 100%;
    height: 10%;
    text-align: center;
    color: var(--second-color);
} 
#player-count {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5vh;
    color: var(--second-color);
}
.button-active {
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    width: 10%;
}
.button-unactive {
    background-color: var(--main-color);
    color: var(--main-color);
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    width: 10%;
}

#categories-setting {
    width: 100%;
    height: 65%;
    background-color: var(--main-color);
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
}
.category-card {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.category-card > img {
    aspect-ratio: 1;
    width: 90%;
    padding: 5px;
}
.category-card > p {
    color: var(--second-color);
    margin: 0px;
}

#start-setting{
    width: 100%;
    height: 10%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-setting > button {
    width: 75%;
    height: 50%;
}